#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    margin-top: auto;/* Footer height */
}

#fees{
    font-weight: lighter;
    font-style: italic ;
    font-size: small;
}

.description-cell{
    font-size: small;
}
