<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        layout:decorate="layout/main">


<body>
<div layout:fragment="content">

    <div class="container">

        <h1 class="text-center">Contact Page</h1>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi in
                inventore, provident repellendus sint ullam! Aspernatur cumque delectus fugiat laborum nemo, quibusdam
                reprehenderit. Debitis dignissimos doloremque provident tenetur voluptatem!</p>

        </div>
    </div>

    <div class="container">

        <h1 class="text-center">About Pay My Buddy</h1>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <p class="lead text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur aut autem, cupiditate
                dolor dolorem ex in minus molestiae molestias necessitatibus nobis quibusdam quidem quo quos rem
                sapiente veritatis voluptatum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias
                aspernatur commodi magni nesciunt nisi optio similique sint, soluta ut? Aliquam consequuntur deleniti
                facilis libero officia quae suscipit voluptas voluptate.


            </p>

        </div>
    </div>
</div>
</body>
</html>