<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        layout:decorate="layout/main">


<body>
<div layout:fragment="content">

    <div class="container">

        <h1 class="text-center">Contact Page</h1>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi in
                inventore, provident repellendus sint ullam! Aspernatur cumque delectus fugiat laborum nemo, quibusdam
                reprehenderit. Debitis dignissimos doloremque provident tenetur voluptatem!</p>

        </div>
    </div>
</div>
</body>
</html>