<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        layout:decorate="layout/main">


<body>
<div layout:fragment="content">

    <div class="container">

        <h1 class="text-center">Contact Page</h1>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <p class="lead text-muted">Projet développé par Loïc Dubrulle. Projet accessible sur le lien gitHub
                <a href="https://github.com/loutix/PayMyBuddy" class="btn btn-primary" target="_blank">
                    Accéder au repository GitHub
                </a>
        </div>
    </div>

</div>
</body>
</html>