<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        lang="en"
        layout:decorate="layout/main">
<body>

<div layout:fragment="content">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Welcome to Pay My Buddy!</h1>
            <p class="lead text-muted">Ce projet a été développé dans le cadre du parcours Développeur d'application Java, et constitue le projet n°6. "Pay My Buddy" est une plateforme qui permet aux utilisateurs d'effectuer des transferts d'argent de manière simple et rapide entre amis, en toute sécurité. L'application propose des fonctionnalités de gestion de compte, d'envoi de paiements, et de suivi des transactions.</p>
            <p>
                <a href="/transfer" class="btn btn-success my-2"><b>Make a money transfer</b></a>
                <a href="/deposit" class="btn btn-outline-info my-2"><b>Credit my account</b></a>
            </p>
        </div>
    </section>
</div>


</body>
</html>